* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial,sans-serif;
    font-size: 14px;
}

div {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
}

li a {
    color: #555;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-bar {
    float: right;
    margin: 12px 18px;
}

.nav-link {
    display: inline-block;
    padding-top: 10px;
    padding-right: 3px;
    padding-left: 8px;
    font-size: 13px;
}

.apps-link {
    margin: auto 20px;
    padding-left: 2px;
    padding-right: 6px;
}

.apps-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    color: #555;
}

.btn a {
    border-style: none;
    border-radius: 4px;
}

.signin-btn a {
    background-color: #1a73e8;
    color: #fff;
    padding: 10px 26.5px;
}

.signin-btn a:hover {
    text-decoration: none;
    background-color: #2c7ce6;
    box-shadow: 0 0 5px #bbb;
}

.search-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.search-input:hover {
    box-shadow: 0 0 5px #bbb;
}

.img-container {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.search-input {
    width: 590px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    padding: 5px 8px 0 3px;
}

.search-bar {
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    display: flex;
    flex: 100%;
    height: 34px;
    font-size: 16px;
}

.search-icon {
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: -5px;
}

.srch-ico {
    margin: auto;
    height: 20px;
    width: 20px;
    color: #9aa0a6;
}

.audio-icon {
    display: flex;
    align-items: center;
    padding-right: 8px;
    padding-left: 13px;
    margin-top: -10px;
}

.ad-ico {
    margin: auto;
    height: 20px;
    width: 20px;
    color: #9aa0a6;
}

.button {
    height: 70px;
    padding-top: 18px;
}

input[type=submit] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[type=submit]:hover {
    box-shadow: 0 0 3px #555;
}

.lang-box {
    line-height: 28px;
    display: inline-block;
    font-size: small;
    margin-bottom: 24px;
    text-align: center;
    margin-top: 25px;
    flex-grow: 1;
    flex-shrink: 0;
}

.lang-box a {
    text-decoration: none;
}

.lang-box a:visited {
    color: #1a0dab;
}

.lang-box a:hover {
    text-decoration: underline;
}




