* {
    font-family: Arial,sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
}

div {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #444;
}

header a, 
.lang-box a {
    font-size: small;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#nav-bar {
    float: right;
    margin: 12px 18px;
}

.nav-link {
    display: inline-block;
    padding-top: 10px;
    padding-right: 3px;
    padding-left: 8px;
    font-size: 13px;
}

.apps-box {
    margin: auto;
    padding-right: 8px;
    padding-left: 16px;
}

.apps-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    color: #555;
    font-size: 24px;
}

.apps-icon:hover {
    background-color: #eee;
    border-radius: 50%;
}

.signin-btn a {
    background-color: #1a73e8;
    color: #fff;
    padding: 10px 26px;
    border-style: none;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 5px;
}

.signin-btn a:hover {
    text-decoration: none;
    background-color: #2c7ce6;
    box-shadow: 0 0 5px #bbb;
}

#content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#logo {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.search-box {
    width: 583px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    padding: 5px 8px 0 3px;
}

input[type=text] {
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    display: flex;
    flex: 100%;
    height: 34px;
    font-size: 16px;
}

.icon {
    display: flex;
    align-items: center;
}

.search-icon {
    padding-left: 13px;
    padding-right: 13px;
    margin-top: -5px;
}

.mic-icon {
    padding-right: 10px;
    padding-left: 13px;
    margin-top: -5px;
}

.ico {
    margin: auto;
    height: auto;
    font-size: 20px;
    color: #9aa0a6;
}

.main-btn {
    height: 70px;
    padding-top: 18px;
}

input[type=submit] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[type=submit]:hover, 
.search-box:hover {
    box-shadow: 0 0 3px #aaa;
}

.lang-box {
    line-height: 28px;
    display: inline-block;
    font-size: small;
    margin-bottom: 24px;
    text-align: center;
    margin-top: 20px;
}

.lang-box a, 
.lang-box a:visited,
.lang-box a:active  {
    color: #1a0dab;
}

.footer-box {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.brazil {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px
}

footer a {
    color: #70757a;
    display: block;
    padding: 15px;
    white-space: nowrap;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}